@{
    ViewData["Title"] = "Home Page";
}
@model PointHistoryListModel;

<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 默认的分页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="text-center" style="padding-top:30px">
        <table style="width:100%;border:1px">
            <tr>
                <td>id</td>
                <td>积分获赠类型</td>
                <td>积分数量</td>
                <td>获赠时间</td>
                <td>积分过期时间</td>
                <td>积分状态</td>
            </tr>
            @foreach (var p in Model.Historys)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.TypeName</td>
                    <td>@p.Amount</td>
                    <td>@p.GetTime</td>
                    <td>@p.ExpiredDate</td>
                    <td>@p.Status</td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Points" asp-action="Index">编辑</a>
                    </td>
                </tr>

            }
            <tr style="align-content:center">
                <td colspan="6">
                    <ul class="pagination pagination-lg">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </td>
            </tr>

        </table>
    </div>


</body>

